<template>
  <div id="app">
    <span @click="congrats">
      <FixrsLogo />
    </span>
    <div class="list-container">
      <div class="list-container-item" v-for="(fixr, index) in fixrs" :key="index" :class="{'border' : fixr.name == 'Thomas' || fixr.name == 'Arthur'}">
        <span>
          <label class="list-container-item-name">{{ fixr.name }}</label>
          <label v-if="fixr.vacation" class="indicator">(on vacation)</label>
        </span>
        <div>
          <v-gravatar class="gravatar" :email="fixr.email" :alt="fixrs.email" :size="150" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FixrsLogo from "./components/fixrs-logo.vue";

export default {
  name: "App",
  components: {
    FixrsLogo,
  },
  data() {
    return {
      fixrs: [
        { name: "Pierre-Paul", email: "pierrepaul@fixrs.ca", vacation: false },
        { name: "Edouard", email: "edouard@fixrs.ca", vacation: false },
        { name: "Francois", email: "francois@fixrs.ca", vacation: false },
        { name: "Ismael", email: "ismael@fixrs.ca", vacation: false },
        { name: "Simon", email: "simon@fixrs.ca", vacation: true },
        { name: "Charles", email: "charles@fixrs.ca", vacation: false },
        { name: "Thomas", email: "thomas@fixrs.ca", vacation: false },
        { name: "Michelle", email: "michelle@fixrs.ca", vacation: true },
        { name: "Arthur", email: "arthur@fixrs.ca", vacation: false },
        { name: "Vini", email: "vinicius@fixrs.ca", vacation: false },
      ],
    };
  },
  methods: {
    congrats() {
      alert("congrats!");
    },
  },
};
</script>

<style scoped>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem; 
    padding: 1rem;
}

.list-container .list-container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    margin-bottom: 1rem;
    background: rgba(0,0,255,0.25);
    border-radius: 0.5rem;
}

.list-container .list-container-item .gravatar {
  border-radius: 50%;
}

.indicator {
  background-color: #eee;
  padding: 6px;
  border-radius: 4px;
  margin-left: .5rem;
}

.list-container-item.border {
  border: 10px solid blue;
  padding: .5rem;
}


@media only screen and (max-width: 768px) {
  .list-container {
      grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .list-container {
      grid-template-columns: 1fr;
      column-gap: 0; 
  }
}

</style>